 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1378px;
}

.u-section-1 .u-gallery-1 {
  height: 375px;
  width: 1164px;
  margin: 21px -24px 0 auto;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 161px;
  height: 161px;
  margin: 21px auto 0 513px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 auto 0 518px;
}

.u-section-1 .u-image-2 {
  width: 161px;
  height: 161px;
  margin: 0 314px 0 665px;
}

.u-section-1 .u-image-3 {
  width: 158px;
  height: 158px;
  margin: -158px auto 0 325px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 24px auto 0 685px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 331px;
}

.u-section-1 .u-image-4 {
  width: 236px;
  height: 200px;
  margin: 23px auto 0 100px;
}

.u-section-1 .u-image-5 {
  width: 174px;
  height: 176px;
  margin: -188px auto 0 371px;
}

.u-section-1 .u-image-6 {
  width: 175px;
  height: 175px;
  margin: -171px auto 0 611px;
}

.u-section-1 .u-image-7 {
  width: 179px;
  height: 175px;
  margin: -175px auto 0 861px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 8px auto 0 117px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 391px;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 603px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 884px;
}

.u-section-1 .u-image-8 {
  width: 236px;
  height: 200px;
  margin: 0 auto 0 100px;
}

.u-section-1 .u-image-9 {
  width: 174px;
  height: 176px;
  margin: -188px auto 0 371px;
}

.u-section-1 .u-image-10 {
  width: 175px;
  height: 175px;
  margin: -171px auto 0 611px;
}

.u-section-1 .u-image-11 {
  width: 179px;
  height: 175px;
  margin: -175px auto 0 861px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 8px auto 0 141px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px auto 0 406px;
  padding: 10px 31px 10px 29px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -41px 390px 0 auto;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 138px 20px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1619px;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -9px;
    margin-left: 318px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 118px;
    margin-right: 266px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -127px;
    margin-left: 248px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -138px;
    margin-right: 308px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -218px;
    margin-left: 131px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 71px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -232px;
    margin-left: 85px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -183px;
    margin-right: 359px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: -61px;
    margin-right: 359px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 144px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 191px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 684px;
  }

  .u-section-1 .u-image-11 {
    margin-top: 20px;
    margin-left: 761px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 206px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 190px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-gallery-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 98px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 88px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 464px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 545px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 541px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1489px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -4px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -127px;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 23px;
    margin-right: 46px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -42px;
    margin-left: 25px;
  }

  .u-section-1 .u-image-4 {
    width: 149px;
    height: 126px;
    margin-top: 12px;
    margin-left: -35px;
  }

  .u-section-1 .u-image-5 {
    width: 114px;
    height: 115px;
    margin-top: -118px;
    margin-left: 114px;
  }

  .u-section-1 .u-image-6 {
    width: 112px;
    height: 113px;
    margin-top: -121px;
    margin-right: 158px;
  }

  .u-section-1 .u-image-7 {
    width: 123px;
    height: 125px;
    margin-top: -115px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 2px;
    margin-left: -35px;
    padding: 10px 18px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -43px;
    margin-left: 100px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -45px;
    margin-right: 140px;
    margin-left: auto;
    padding: 12px 30px 14px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -48px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-8 {
    width: 141px;
    height: 120px;
    margin-top: 28px;
    margin-left: -28px;
  }

  .u-section-1 .u-image-9 {
    width: 113px;
    height: 110px;
    margin-top: -120px;
    margin-left: 114px;
  }

  .u-section-1 .u-image-10 {
    width: 119px;
    height: 122px;
    margin-top: -112px;
    margin-right: 151px;
    margin-left: auto;
  }

  .u-section-1 .u-image-11 {
    width: 113px;
    height: 112px;
    margin-top: -112px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 0;
    margin-left: -23px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -42px;
    margin-left: 119px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -39px;
    margin-right: 167px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -42px;
    margin-right: 15px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 72px;
    height: 70px;
    margin-top: 10px;
    margin-left: 126px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 3px;
    margin-left: 126px;
    padding: 2px 0 4px;
  }

  .u-section-1 .u-image-2 {
    width: 59px;
    height: 59px;
    margin-top: -8px;
    margin-right: 65px;
  }

  .u-section-1 .u-image-3 {
    width: 61px;
    height: 61px;
    margin-top: -71px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 5px;
    margin-right: 57px;
    padding: 9px 5px 11px 3px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 15px;
    padding: 10px 0;
  }

  .u-section-1 .u-image-4 {
    width: 122px;
    height: 95px;
    margin-top: 25px;
    margin-left: -31px;
  }

  .u-section-1 .u-image-5 {
    width: 86px;
    height: 88px;
    margin-top: -88px;
    margin-left: 99px;
  }

  .u-section-1 .u-image-6 {
    width: 92px;
    height: 92px;
    margin-top: -87px;
    margin-right: 55px;
  }

  .u-section-1 .u-image-7 {
    width: 81px;
    height: 83px;
    margin-top: -88px;
    margin-right: -40px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -31px;
    padding-right: 7px;
    padding-bottom: 11px;
    padding-left: 6px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 85px;
    padding-right: 14px;
    padding-bottom: 11px;
    padding-left: 12px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -38px;
    margin-right: 59px;
    padding: 10px 0 11px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -43px;
    margin-right: -51px;
    padding: 10px 15px;
  }

  .u-section-1 .u-image-8 {
    width: 95px;
    height: 95px;
    margin-top: 12px;
    margin-left: -27px;
  }

  .u-section-1 .u-image-9 {
    width: 92px;
    height: 92px;
    margin-top: -97px;
    margin-left: 78px;
  }

  .u-section-1 .u-image-10 {
    width: 85px;
    height: 85px;
    margin-top: -85px;
    margin-right: 70px;
  }

  .u-section-1 .u-image-11 {
    width: 82px;
    height: 80px;
    margin-top: -90px;
    margin-right: -41px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 23px;
    margin-left: -31px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -43px;
    margin-left: 80px;
    padding-right: 29px;
    padding-bottom: 12px;
    padding-left: 28px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -43px;
    margin-right: 56px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: -52px;
  }
}